---
services:
  nginx:
    image: nginx:1.25-alpine
    depends_on:
      - nest-app
    ports:
      - 8080:80
    configs:
      - source: nginx_default_conf
        target: /etc/nginx/conf.d/default.conf

  nest-app:
    build:
      context: .
    container_name: nest-app
    environment:
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - DATABASE_HOST=${DATABASE_HOST}
      - DATABASE=${DATABASE}
    ports:
      - 3000:3000
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    container_name: postgres
    image: postgres:16
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - 5432:5432
    volumes:
      - db-data:/var/lib/postgres/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 10s
      timeout: 15s
      retries: 10

volumes:
  db-data:

configs:
  nginx_default_conf:
    file: ./nginx/default.conf
